.today-overview {
  .card-custom {
    background: #fbfbfb;
    border-radius: 10px;

    .card-icon {
      color: #5071bd;
    }
    .card-label {
    }
    .card-value {
    }
    .card-units {
    }
  }
}
