	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/08/2017 08:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-barrel-1:before { content: "\f100"; }
.flaticon-002-oil-1:before { content: "\f101"; }
.flaticon-003-garbage:before { content: "\f102"; }
.flaticon-004-light-bulb-1:before { content: "\f103"; }
.flaticon-005-folder:before { content: "\f104"; }
.flaticon-006-nuclear-power-1:before { content: "\f105"; }
.flaticon-007-solar-energy-2:before { content: "\f106"; }
.flaticon-008-water-drop:before { content: "\f107"; }
.flaticon-009-trash-1:before { content: "\f108"; }
.flaticon-010-water:before { content: "\f109"; }
.flaticon-011-water-energy-1:before { content: "\f10a"; }
.flaticon-012-plug-2:before { content: "\f10b"; }
.flaticon-013-plug-1:before { content: "\f10c"; }
.flaticon-014-oil:before { content: "\f10d"; }
.flaticon-015-nuclear-plant-4:before { content: "\f10e"; }
.flaticon-016-recycling-truck:before { content: "\f10f"; }
.flaticon-017-trash:before { content: "\f110"; }
.flaticon-018-recycling-1:before { content: "\f111"; }
.flaticon-019-water-pollution:before { content: "\f112"; }
.flaticon-020-factory-4:before { content: "\f113"; }
.flaticon-021-electric-tower-1:before { content: "\f114"; }
.flaticon-022-planet-earth:before { content: "\f115"; }
.flaticon-023-barrel:before { content: "\f116"; }
.flaticon-024-wagon:before { content: "\f117"; }
.flaticon-025-factory-3:before { content: "\f118"; }
.flaticon-026-nuclear-power:before { content: "\f119"; }
.flaticon-027-nuclear-plant-3:before { content: "\f11a"; }
.flaticon-028-can:before { content: "\f11b"; }
.flaticon-029-clipboard:before { content: "\f11c"; }
.flaticon-030-solar-energy-1:before { content: "\f11d"; }
.flaticon-031-electric-car:before { content: "\f11e"; }
.flaticon-032-montain-1:before { content: "\f11f"; }
.flaticon-033-montain:before { content: "\f120"; }
.flaticon-034-global-warming-1:before { content: "\f121"; }
.flaticon-035-global-warming:before { content: "\f122"; }
.flaticon-036-ecology-1:before { content: "\f123"; }
.flaticon-037-industry:before { content: "\f124"; }
.flaticon-038-ecology:before { content: "\f125"; }
.flaticon-039-donation:before { content: "\f126"; }
.flaticon-040-flower:before { content: "\f127"; }
.flaticon-041-idea:before { content: "\f128"; }
.flaticon-042-sprout-2:before { content: "\f129"; }
.flaticon-043-sprout-1:before { content: "\f12a"; }
.flaticon-044-sprout:before { content: "\f12b"; }
.flaticon-045-faucet:before { content: "\f12c"; }
.flaticon-046-barrels:before { content: "\f12d"; }
.flaticon-047-battery:before { content: "\f12e"; }
.flaticon-048-trash-can:before { content: "\f12f"; }
.flaticon-049-recycling-bin-2:before { content: "\f130"; }
.flaticon-050-recycling-bin-1:before { content: "\f131"; }
.flaticon-051-recycling-bag:before { content: "\f132"; }
.flaticon-052-nuclear-plant-2:before { content: "\f133"; }
.flaticon-053-factory-2:before { content: "\f134"; }
.flaticon-054-factory-1:before { content: "\f135"; }
.flaticon-055-factory:before { content: "\f136"; }
.flaticon-056-electricity:before { content: "\f137"; }
.flaticon-057-nuclear-plant-1:before { content: "\f138"; }
.flaticon-058-wind-turbine:before { content: "\f139"; }
.flaticon-059-recycling:before { content: "\f13a"; }
.flaticon-060-electric-tower:before { content: "\f13b"; }
.flaticon-061-solar-panel:before { content: "\f13c"; }
.flaticon-062-rain:before { content: "\f13d"; }
.flaticon-063-recycle-bin:before { content: "\f13e"; }
.flaticon-064-light-bulb:before { content: "\f13f"; }
.flaticon-065-plug:before { content: "\f140"; }
.flaticon-066-solar-energy:before { content: "\f141"; }
.flaticon-067-water-energy:before { content: "\f142"; }
.flaticon-068-recycle-water:before { content: "\f143"; }
.flaticon-069-nuclear-plant:before { content: "\f144"; }
.flaticon-070-recycling-bin:before { content: "\f145"; }