/* ============================ Main styles ============================ */
/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
										4. Typography
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Jura&subset=cyrillic");
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.25;
  font-family: 'RoadRadio', Helvetica, Arial, sans-serif; }

h1 {
  font-size: 50px;
  margin: 0 0 60px; }

h2 {
  font-size: 2.25em;
  margin: .4166em 0 .6666em; }

h3 {
  font-size: 1.875em;
  margin: .5em 0 .8em; }

h4 {
  font-size: 1.5em;
  margin: .625em 0 1em; }

h5 {
  font-size: 1.125em;
  margin: .8333em 0 1.3333em; }

h6 {
  font-size: 1em;
  margin: 0.9375em 0 1.5em; }

a {
  transition: color .3s, border .3s, opacity .3s;
  -webkit-transition: color .3s, border .3s, opacity .3s;
  -moz-transition: color .3s, border .3s, opacity .3s; }

a:hover {
  text-decoration: none; }

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
										3. Global Styles
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
html, body {
  overflow-x: hidden; }

body {
  overflow: hidden;
  font: 400 18px/1.4 'Jura', Helvetica, Arial, sans-serif;
  background: #fefefe;
  position: relative; }
  body.mobile {
    padding-bottom: 73px; }

img, iframe {
  max-width: 100%; }

img {
  height: auto; }

.clearfix {
  clear: both; }

.color-light {
  color: #fff; }

.custom-bg_1 {
  background: url("../images/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat; }

#header {
  background: -webkit-radial-gradient(#557EBB, #013077);
  background: radial-gradient(#557EBB, #013077);
  background: -webkit-radial-gradient(#619EFB, #0054D4);
  background: radial-gradient(#619EFB, #0054D4);
  -webkit-box-shadow: 0px 1px 5px 0px #000;
          box-shadow: 0px 1px 5px 0px #000;
  padding: 8px 0; }

.logo {
  display: block;
  text-align: center;
  color: #fff;
  max-width: 205px; }
  .logo:hover {
    text-decoration: none;
    color: #fff; }
  .logo span {
    display: block;
    font-family: 'RoadRadio';
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.0em; }
    .logo span:last-child {
      font-size: 10px;
      letter-spacing: .5px; }

.header-number {
  display: block;
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: relative;
  padding-left: 25px;
  float: right;
  margin: 0 0 5px; }
  .header-number:hover, .header-number:focus {
    color: #fff; }
    .header-number:hover span, .header-number:focus span {
      -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
              transform: scale(1.02); }
  .header-number span {
    display: inline-block;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }
  .header-number i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 35px; }

.header-callback {
  display: block;
  color: #fff;
  float: right;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  line-height: 1.4; }
  .header-callback:hover, .header-callback:focus {
    color: #fff;
    -webkit-box-shadow: 0 5px 10px -6px #fff;
            box-shadow: 0 5px 10px -6px #fff; }

.section-block {
  padding: 80px 0;
  position: relative; }

.first-screen {
  padding: 0;
  height: -webkit-calc(100vh - 83px);
  height: calc(100vh - 83px);
  min-height: 700px;
  max-height: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1; }
  .first-screen:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1; }

h1 {
  font-weight: 700;
  color: #fff;
  text-align: center; }

.description {
  margin-bottom: 60px;
  padding: 0 50px; }
  .description ul {
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 25px; }
  .description li {
    margin-bottom: 5px; }
    .description li:last-child {
      margin-bottom: 0; }

.social {
  position: absolute;
  left: 50px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .social ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .social ul li {
      margin-bottom: 20px; }
      .social ul li:last-child {
        margin-bottom: 0; }
      .social ul li a {
        color: #fff;
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out; }
        .social ul li a:hover {
          color: #619efb; }

#footer {
  background: -webkit-radial-gradient(#619EFB, #0054D4);
  background: radial-gradient(#619EFB, #0054D4);
  color: #fff;
  padding: 30px 0;
  font-family: RoadRadio; }
  #footer p {
    margin-bottom: 0; }
  #footer .social {
    position: relative;
    width: 100%;
    text-align: center;
    top: auto;
    left: auto;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-top: 50px; }
    #footer .social ul li {
      display: inline-block;
      margin-right: 20px; }
      #footer .social ul li:last-child {
        margin-right: 0; }

.text-gray {
  color: #a9a9a9; }

.padding_b_100 {
  padding-bottom: 100px; }

.padding_b_150 {
  padding-bottom: 150px; }

.color-white {
  color: #fff; }

.color-blue {
  color: #327dea; }

.bg-blue {
  background-color: #619efb; }
  .bg-blue .section-block__title {
    color: #fff; }

.button {
  display: inline-block;
  padding: 10px 32px 8px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border: 1px solid transparent;
  font-family: 'RoadRadio', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  cursor: pointer; }
  .button:hover, .button:focus {
    text-decoration: none; }
  .button.bg-white {
    background: #fff;
    color: #327dea; }
    .button.bg-white:hover {
      background: #327dea;
      color: #fff;
      border-color: #fff; }
  .button.bg-blue {
    background: #327dea;
    color: #fff; }
    .button.bg-blue:hover {
      background: #fff;
      color: #327dea;
      border-color: #327dea; }
  .button.bg-blue--border-white {
    border: 2px solid #fff;
    background: #327dea;
    color: #fff; }
    .button.bg-blue--border-white:hover {
      background: #fff;
      color: #327dea;
      border-color: #327dea; }

.form-custom {
  border: 2px solid #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: rgba(97, 158, 251, 0.8);
  padding: 30px;
  margin: 0 50px; }
  .form-custom .form-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form-custom .form-horizontal .form-item {
      margin-right: 20px;
      margin-bottom: 20px;
      width: 100%; }
      .form-custom .form-horizontal .form-item:last-child {
        margin-right: 0; }
  .form-custom label {
    color: #fff;
    margin-bottom: 4px;
    display: block; }
  .form-custom input {
    min-height: 40px;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    width: 100%;
    background: #fff;
    padding: 0 5px; }
  .form-custom .form-button {
    margin: 20px 0 10px;
    text-align: center; }
    .form-custom .form-button .button {
      padding: 14px 40px;
      font-size: 20px;
      text-transform: uppercase;
      -webkit-border-radius: 4px;
              border-radius: 4px; }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none; }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
            transform: translate3d(-25%, 0, 0) rotate(-5deg); }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
            transform: translate3d(20%, 0, 0) rotate(3deg); }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
            transform: translate3d(-15%, 0, 0) rotate(-3deg); }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
            transform: translate3d(10%, 0, 0) rotate(2deg); }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
            transform: translate3d(-5%, 0, 0) rotate(-1deg); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none; }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
            transform: translate3d(-25%, 0, 0) rotate(-5deg); }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
            transform: translate3d(20%, 0, 0) rotate(3deg); }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
            transform: translate3d(-15%, 0, 0) rotate(-3deg); }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
            transform: translate3d(10%, 0, 0) rotate(2deg); }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
            transform: translate3d(-5%, 0, 0) rotate(-1deg); }
  to {
    -webkit-transform: none;
            transform: none; } }

.wobble {
  -webkit-animation-name: wobble;
          animation-name: wobble; }

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

.tada {
  -webkit-animation: tada 1.5s linear;
          animation: tada 1.5s linear; }

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
										1. Fonts
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
@font-face {
  font-family: 'RoadRadio';
  src: url("../fonts/roadradio.eot");
  src: url("../fonts/roadradio.eot?#iefix") format("embedded-opentype"), url("../fonts/roadradio.woff") format("woff"), url("../fonts/roadradio.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* ============================ Media max-1200px ============================ */
/* ============================ Media max-992px ============================ */
@media (max-width: 992px) {
  #header .logo {
    padding: 0; }
  .first-screen {
    padding: 40px 0; }
    .first-screen h1 {
      font-size: 45px; } }

/* ============================ Media max-767px ============================ */
@media (max-width: 767px) {
  .first-screen {
    height: auto;
    padding: 70px 0;
    min-height: 0;
    max-height: 100%; }
    .first-screen h1 {
      font-size: 30px; }
  #header {
    text-align: center; }
  .logo {
    margin: 0 auto; }
  .header-number {
    float: none;
    display: inline-block; }
  .header-callback {
    float: none; }
  .description {
    padding: 0; }
  .form-custom {
    margin: 0;
    padding: 10px; }
    .form-custom .form-horizontal {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .form-custom .form-horizontal .form-item {
        margin-right: 0; } }

/* ============================ Media max-550px ============================ */
