/*=========================================
    Primary Color
=========================================*/
/* Header CSS */
.header-top-info-1 .social li a i:hover {
    background: #e84c3d;
}

/* Menu CSS */
.navbar-brand::first-letter {
	color: #e84c3d !important;
}
.navbar-default .navbar-nav>.active > a, .navbar-default .navbar-nav>.active>a:hover, .dropdown-menu > .active > a {
    //background: #e84c3d !important;
    background: transparent !important;
    
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #FF0018 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    //background: #e84c3d !important;
    //background: #FF0018 !important;
}

/* Slider CSS */
.slider-version-one .caption h1 span{
    color: #e84c3d;
}
.specia-btn-1:hover{
    background: #e84c3d;
	border-color: #e84c3d;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #e84c3d;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #e84c3d;
}

/* Service CSS */
.section-heading span{
    color: #e84c3d;
}
.service-version-one .service-title a:hover, .service-version-one .service-title a:active, .service-version-one .service-title a:focus {
    color: #e84c3d;
}

/* Cal Action CSS */
.call-to-action .background-overlay{
    background: #e84c3d;
}
.call-to-action .call-btn-1:hover {
    color: #e84c3d;
}

/* Service Section CSS */
.service-version-one .service-icon-box i:hover {
    background: #e84c3d;
}
.specia-icon-effect-1 .specia-icon:after {
	box-shadow: 0 0 0 4px #e84c3d;
}
.specia-icon-effect-5 .specia-icon:hover {
	box-shadow: 0 0 0 4px #e84c3d;
}
.specia-icon-effect-6 .specia-icon:hover {
	box-shadow: 0 0 0 4px #e84c3d;
}
.specia-icon-effect-8 .specia-icon:hover {
	background: #e84c3d;
}
/* Features Section CSS */
.features-version-one h2 span{
    color: #e84c3d;
}
.features-version-one .feature-box-info h4{
    color: #e84c3d;
}

/* Latest Blog Section CSS */
.blog-version-1 article:hover footer.entry-footer{
     background: #e84c3d;
}
.entry-content .more-link:hover {
    background: #e84c3d;
	border: solid 2px #e84c3d;
}

/* Footer Section CSS */
.footer-sidebar .widget .title-border { 
    border-bottom: 2px solid #e84c3d;
}
.widget table #next a, .widget table #prev a { 
	color: #e84c3d; font-weight: 600; 
}
.footer-sidebar  .widget ul li a:hover, .widget ul li a:active { 
    color: #e84c3d; 
}
.footer-sidebar .widget input[type="submit"]:hover{
    background: #e84c3d;
    border-color: #e84c3d;
}
.footer-sidebar .tagcloud a:hover, .tagcloud a:focus {  
    border: 1px solid #e84c3d;
    background: #e84c3d;
}  

/* Copyright Content */
.payment-icon li a:hover{
    color: #e84c3d;
}
.footer-copyright p a:hover{
    color: #e84c3d;
}
.top-scroll {
    /*border-color: #e84c3d;*/
    /*color: #e84c3d;*/
}

/* Pagination CSS */
.paginations a:hover, .paginations a:focus, .paginations a.active, span.page-numbers.current {
    border: 1px solid #e84c3d;
    background-color: #e84c3d;
}

/* Blog Page CSS */
.page-wrapper article:hover footer.entry-footer {
     background: #e84c3d;
}
.comment-reply-title {
    border-top: 4px solid #e84c3d;
}
.required {
    color: #e84c3d;
}
a.comment-reply-link {
    color: #e84c3d;
}

/* Error Page CSS */
.error-page h1{
    color: #e84c3d;
}

/* Form Element CSS */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #FF0018;
    border: solid 2px #FF0018;
}

/* Breadcrumb CSS */
.page-breadcrumb a{
    color: #e84c3d;
}

/*Sidebar Area CSS */
.sidebar .widget ul li a:hover, .widget ul li a:active { 
    color: #e84c3d; 
}
.sidebar .widget input[type="submit"]:hover{
    background: #e84c3d;
    border-color: #e84c3d;
}
/* Typography */
blockquote { 
    border-left: 5px solid #e84c3d !important;
}
table th {     
    border: 1px solid #e84c3d;
    background: #e84c3d;
}
em, cite, q { 
	color: #e84c3d;
}
s, strike, del { 
	color: #e84c3d; 
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #e84c3d;
}
body a:focus, body a:hover {
    color: #FF0018;
}

/* Form */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background: #e84c3d;
    border: solid 2px #e84c3d;
}


/* --------------------------------------
=========================================
    Secondary Color
=========================================
-----------------------------------------*/
/* Menu CSS */
.navbar-brand {
	color: #1c314c !important;
}
/* Slider CSS */
.owl-theme .owl-controls .owl-nav [class*=owl-] {
    background: #202c3b;
}
/* Service CSS */
.section-heading{
    color: #1c314c;
}
.specia-icon-effect-1 .specia-icon {
	background: #1c314c;
}
.specia-icon-effect-2 .specia-icon:after {
	background: #1c314c;
}
.specia-icon-effect-3 .specia-icon:after {
	background: #1c314c;
}
.specia-icon-effect-4 .specia-icon {
	background: #1c314c;
	box-shadow: 0 0 0 4px #1c314c;
}
.specia-icon-effect-5 .specia-icon {
	box-shadow: 0 0 0 4px #1c314c;
	background: #1c314c;
}
.specia-icon-effect-6 .specia-icon {
	background: #1c314c;
	box-shadow: 0 0 0 4px #1c314c;
}
.specia-icon-effect-8 .specia-icon {
	background: #1c314c;
}

/* Latest Blog Section CSS */
.blog-version-1 footer.entry-footer {
    background: #1c314c;
}
.entry-content .more-link {
    color: #1c314c;
    border: solid 2px #1c314c;
}

/* Footer Section CSS */
.footer-sidebar .widget table caption, .woo-sidebar .widget table caption  { 
    background: #1c314c;
}
.footer-sidebar .background-overlay {
	background: #1c314c;
}

/* Blog Page CSS */
footer.entry-footer {
    background: #1c314c;
}   
h2.entry-title a {
    color: #1c314c;
}
.entry-header h2.entry-title {
    color: #1c314c;
}

/* Error Page CSS */
.error-page h2{
    color: #1c314c;
}

/* Form Element CSS */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: #1c314c;
    border: solid 2px #1c314c;
}

/*Sidebar Area CSS */
.sidebar .widget .widget-title {
    color: #1c314c;
}
.sidebar .widget input[type="submit"] {
    color: #1c314c;
    border: solid 2px #1c314c;
}
.sidebar .widget table caption { 
    background: #1c314c;
}
/* Typography */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: #1c314c;
}
blockquote cite, blockquote small { 
	color: #1c314c;
}
address { 
	color: #1c314c;
}
ins { 
	color: #1c314c;
}	