@charset "UTF-8";
@import url(http://allfont.ru/allfont.css?fonts=roboto-regular);
.bottom-anchor {
  position: absolute;
  bottom: -15px;
  width: 30px;
  height: 30px;
  background: url("../images/sprite.png");
  background-position: -2px -30px;
  background-size: 320px;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: auto; }

.site-content {
  background: #000; }

.navbar .navbar-toggle-block {
  margin: 7px 0; }
  .navbar .navbar-toggle-block .dropdown-menu {
    top: 53px; }
  .navbar .navbar-toggle-block button {
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    padding: 0;
    border: 1px solid #FF0018; }
    .navbar .navbar-toggle-block button span {
      margin: 0 auto; }
  .navbar .navbar-toggle-block .descriptor {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    width: 70%;
    line-height: 1.2;
    font-family: "Roboto Regular", arial; }
    @media (max-width: 768px) {
      .navbar .navbar-toggle-block .descriptor {
        display: none; } }

.navbar .navbar-header {
  position: relative; }
  .navbar .navbar-header img {
    margin: auto; }

.navbar .header-contacts-block {
  text-align: right;
  margin: 7px 0; }
  .navbar .header-contacts-block ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .navbar .header-contacts-block ul li {
      padding: 0;
      margin: 0;
      font-family: "Roboto Regular", arial; }
      .navbar .header-contacts-block ul li a {
        display: inline-block;
        vertical-align: middle;
        line-height: 1; }

.navbar .site-description {
  text-align: center;
  position: absolute;
  margin: auto;
  font-style: normal;
  color: #FF0018;
  bottom: -19px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: "Roboto Regular", arial;
  background: #000;
  border-bottom: 1px solid #FF0018;
  width: 350px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  @media (max-width: 480px) {
    .navbar .site-description {
      width: 230px; } }
  .navbar .site-description:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -15px;
    width: 26px;
    height: 100%;
    transform: rotate(45deg);
    border-bottom: 1px solid #ff0018;
    background: #000;
    z-index: -1; }
  .navbar .site-description:after {
    content: "";
    position: absolute;
    top: -5px;
    right: -15px;
    width: 26px;
    height: 100%;
    transform: rotate(135deg);
    border-top: 1px solid #ff0018;
    background: #000;
    z-index: -1; }

.main-screen {
  position: relative;
  height: 520px;
  background: url("../images/main-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .main-screen .season,
  .main-screen .dry-cleaning,
  .main-screen .safety-body,
  .main-screen .care-interior,
  .main-screen .polishing {
    position: absolute;
    line-height: 1.2;
    color: #fff; }
    @media (max-width: 991px) {
      .main-screen .season,
      .main-screen .dry-cleaning,
      .main-screen .safety-body,
      .main-screen .care-interior,
      .main-screen .polishing {
        display: none; } }
    .main-screen .season a,
    .main-screen .dry-cleaning a,
    .main-screen .safety-body a,
    .main-screen .care-interior a,
    .main-screen .polishing a {
      position: absolute;
      display: block;
      color: #fff; }
      .main-screen .season a:hover,
      .main-screen .dry-cleaning a:hover,
      .main-screen .safety-body a:hover,
      .main-screen .care-interior a:hover,
      .main-screen .polishing a:hover {
        cursor: pointer;
        color: #FF0018; }
    .main-screen .season div,
    .main-screen .dry-cleaning div,
    .main-screen .safety-body div,
    .main-screen .care-interior div,
    .main-screen .polishing div {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #FF0018;
      border-radius: 50%; }
      .main-screen .season div:before,
      .main-screen .dry-cleaning div:before,
      .main-screen .safety-body div:before,
      .main-screen .care-interior div:before,
      .main-screen .polishing div:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        background: #FF0018; }
  .main-screen .season {
    width: 110px;
    height: 50px;
    top: 140px;
    left: 230px;
    transform: skew(45deg);
    border-top: 1px solid #FF0018;
    border-right: 1px solid #FF0018; }
    @media (max-width: 1199px) {
      .main-screen .season {
        top: 128px;
        left: 130px; } }
    .main-screen .season a {
      top: -37px;
      left: 25px;
      width: 100%;
      transform: skew(-45deg); }
    .main-screen .season div {
      bottom: -17px;
      right: -10px;
      z-index: 2;
      transform: skew(-45deg);
      z-index: 2; }
  .main-screen .dry-cleaning {
    width: 140px;
    height: 100px;
    top: 140px;
    right: 245px;
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(-45deg);
    border-top: 1px solid #FF0018;
    border-left: 1px solid #FF0018; }
    @media (max-width: 1199px) {
      .main-screen .dry-cleaning {
        right: 145px; } }
    .main-screen .dry-cleaning a {
      top: -20px;
      left: -10px;
      width: 100%;
      white-space: nowrap;
      -webkit-transform: skew(45deg);
      -ms-transform: skew(45deg);
      transform: skew(45deg); }
    .main-screen .dry-cleaning div {
      bottom: -17px;
      left: -10px;
      z-index: 2;
      transform: skew(45deg);
      z-index: 2; }
  .main-screen .safety-body {
    width: 140px;
    height: 145px;
    top: 265px;
    right: 360px;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
    border-bottom: 1px solid #FF0018;
    border-right: 1px solid #FF0018; }
    @media (max-width: 1199px) {
      .main-screen .safety-body {
        right: 255px; } }
    .main-screen .safety-body a {
      bottom: 5px;
      left: -5px;
      width: 100%;
      white-space: nowrap;
      -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
      transform: skew(10deg); }
    .main-screen .safety-body div {
      top: -19px;
      right: -10px;
      z-index: 2;
      -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
      transform: skew(10deg);
      z-index: 2; }
  .main-screen .care-interior {
    width: 170px;
    height: 150px;
    bottom: 55px;
    left: 500px;
    -webkit-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
    border-bottom: 1px solid #FF0018;
    border-left: 1px solid #FF0018; }
    @media (max-width: 1199px) {
      .main-screen .care-interior {
        left: 405px; } }
    .main-screen .care-interior a {
      bottom: 5px;
      right: -20px;
      width: 100%;
      white-space: nowrap;
      -webkit-transform: skew(35deg);
      -ms-transform: skew(35deg);
      transform: skew(35deg); }
    .main-screen .care-interior div {
      top: -18px;
      left: -10px;
      z-index: 2;
      -webkit-transform: skew(35deg);
      -ms-transform: skew(35deg);
      transform: skew(35deg);
      z-index: 2; }
  .main-screen .polishing {
    width: 170px;
    height: 150px;
    bottom: 55px;
    left: 175px;
    -webkit-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
    border-bottom: 1px solid #FF0018;
    border-right: 1px solid #FF0018; }
    @media (max-width: 1199px) {
      .main-screen .polishing {
        left: 70px; } }
    .main-screen .polishing a {
      bottom: 5px;
      left: -10px;
      width: 100%;
      white-space: nowrap;
      -webkit-transform: skew(35deg);
      -ms-transform: skew(35deg);
      transform: skew(35deg); }
    .main-screen .polishing div {
      top: -18px;
      right: -10px;
      z-index: 2;
      -webkit-transform: skew(35deg);
      -ms-transform: skew(35deg);
      transform: skew(35deg);
      z-index: 2; }

.section-layout {
  position: relative;
  margin: 30px 0;
  padding: 30px 0 60px;
  border-bottom: 1px solid #FF0018; }
  @media (max-width: 768px) {
    .section-layout.margin-top_0 {
      margin-top: 0; } }

.section-border {
  border-bottom: 1px solid #FF0018;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px; }

.img-wrapper {
  border: 1px solid #FF0018;
  border-radius: 50%;
  padding: 17px;
  overflow: hidden;
  text-align: center; }
  @media (max-width: 991px) {
    .img-wrapper {
      border-radius: 0;
      margin: 0 0 20px; } }
  .img-wrapper img {
    margin: 0 auto; }

.section-title {
  padding-bottom: 10px;
  position: relative; }
  .section-title:before {
    content: "";
    position: absolute;
    bottom: -38px;
    left: -18px;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    height: 38px;
    width: 100%;
    border-top: 1px solid #FF0018;
    border-left: 1px solid #FF0018; }
    @media (max-width: 1199px) {
      .section-title:before {
        left: -12px; } }
    @media (max-width: 991px) {
      .section-title:before {
        left: 0;
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        transform: skew(0deg);
        border-left: none; } }
    @media (max-width: 767px) {
      .section-title:before {
        display: none; } }
  .section-title:after {
    content: '';
    display: block;
    clear: both; }
  .section-title p {
    float: left;
    margin: 0;
    font-size: 30px;
    color: #FF0018;
    padding-top: 10px;
    line-height: 1; }
    @media (max-width: 767px) {
      .section-title p {
        float: none;
        display: block;
        margin: 0 0 20px;
        text-align: center; } }
  .section-title button {
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 10px 20px;
    float: right; }
    @media (max-width: 767px) {
      .section-title button {
        float: none;
        display: block;
        margin: 0 auto; } }

.section-content {
  margin: 20px 0;
  font-size: 18px; }
  .section-content p {
    color: #fff;
    margin: 0 0 20px;
    font-size: 18px; }
  .section-content ul {
    margin: 0 0 20px;
    padding: 0; }
    .section-content ul li {
      color: #FF0018;
      padding: 0;
      margin: 0 0 5px; }
      .section-content ul li span {
        color: #fff; }

.price-table table {
  width: 100%;
  background: transparent;
  border: none;
  table-layout: auto; }
  @media (max-width: 480px) {
    .price-table table {
      table-layout: fixed; } }
  .price-table table th {
    background: transparent;
    border: none;
    text-align: center; }
  .price-table table tr {
    border: none; }
  .price-table table .name {
    color: #FF0018;
    border: none;
    text-align: right;
    font-size: 18px;
    width: 238px; }
    @media (max-width: 480px) {
      .price-table table .name {
        padding-right: 10px;
        font-size: 16px;
        word-wrap: break-word;
        width: auto; } }
    .price-table table .name i {
      font-style: normal;
      color: #747474; }
  .price-table table .price {
    font-size: 18px;
    border: 1px solid #595858;
    color: #fff;
    text-align: center; }
    @media (max-width: 480px) {
      .price-table table .price {
        font-size: 14px; } }

.product-items .product-title {
  color: #FF0018;
  font-size: 18px;
  margin: 0; }
  .product-items .product-title .product-price {
    color: #fff;
    font-weight: bold; }
  .product-items .product-title.hit, .product-items .product-title.akcia {
    padding: 0 50px 0 0;
    position: relative; }
    .product-items .product-title.hit:after, .product-items .product-title.akcia:after {
      content: "ХИТ";
      position: absolute;
      top: 1px;
      right: 0;
      padding: 4px 10px;
      background: #FD0208;
      color: #000;
      line-height: 1;
      font-size: 14px;
      border-radius: 4px; }
    .product-items .product-title.hit .product-price, .product-items .product-title.akcia .product-price {
      font-weight: normal;
      color: #FF0018; }
  .product-items .product-title.akcia:after {
    content: "АКЦИЯ"; }
  .product-items .product-title.akcia .product-price {
    font-weight: bold;
    color: #fff; }
  .product-items .product-title.title-margin_20 {
    margin: 0 0 20px; }
    @media (max-width: 991px) {
      .product-items .product-title.title-margin_20 {
        margin: 0 0 10px; } }

.product-items .product-description {
  color: #747474;
  font-size: 14px;
  margin: 0;
  min-height: 70px; }
  @media (max-width: 1199px) {
    .product-items .product-description {
      min-height: 100px; } }
  @media (max-width: 991px) {
    .product-items .product-description {
      min-height: 0;
      margin: 0 0 10px; } }

.product-items .product-benefits {
  height: 100px;
  display: table;
  width: 100%; }
  @media (max-width: 991px) {
    .product-items .product-benefits {
      height: auto;
      margin: 0 0 20px; } }
  .product-items .product-benefits ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table-cell;
    vertical-align: bottom; }
    .product-items .product-benefits ul li {
      margin: 0 0 5px;
      position: relative;
      padding: 0 0 0 20px; }
      .product-items .product-benefits ul li.plus:before, .product-items .product-benefits ul li.minus:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 15px;
        height: 15px;
        background: url(../images/sprite.png);
        background-repeat: no-repeat; }
      .product-items .product-benefits ul li.plus:before {
        background-position: -85px -62px; }
      .product-items .product-benefits ul li.minus:before {
        background-position: -64px -62px; }

.last-block {
  text-align: center;
  margin: 30px 0 0;
  padding: 30px 0; }
  .last-block img {
    margin: 0 auto; }
  .last-block p {
    color: #FF0018;
    font-size: 35px;
    margin: 30px 0; }
    @media (max-width: 480px) {
      .last-block p {
        font-size: 26px; } }
    .last-block p span {
      display: block;
      font-size: 90px;
      line-height: 1; }
      @media (max-width: 480px) {
        .last-block p span {
          font-size: 55px; } }

.footer-logo span {
  color: #747474;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase; }

.footer-logo p {
  color: #FF0018;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold; }

.icon {
  background: url("../images/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  font-style: normal; }

.icon-life {
  width: 15px;
  height: 15px;
  background-position: -121px -61px;
  margin-right: 5px; }

.icon-kyivstar {
  width: 15px;
  height: 15px;
  background-position: -104px -60px;
  margin-right: 5px; }

.hach-back {
  width: 110px;
  height: 46px;
  background-position: -3px -10px; }
  .hach-back:before {
    content: "Хетчбэк";
    position: relative;
    top: 0;
    left: 0;
    display: none;
    color: #FF0018; }
  @media (max-width: 767px) {
    .hach-back {
      width: auto;
      height: auto;
      background: #000; }
      .hach-back:before {
        display: block; } }

.sedan {
  width: 150px;
  height: 46px;
  background-position: -145px -10px; }
  .sedan:before {
    content: "Седан";
    position: relative;
    top: 0;
    left: 0;
    display: none;
    color: #FF0018; }
  @media (max-width: 767px) {
    .sedan {
      width: auto;
      height: auto;
      background: #000; }
      .sedan:before {
        display: block; } }

.jeep {
  width: 125px;
  height: 50px;
  background-position: -325px -6px; }
  .jeep:before {
    content: "Джип";
    position: relative;
    top: 0;
    left: 0;
    display: none;
    color: #FF0018; }
  @media (max-width: 767px) {
    .jeep {
      width: auto;
      height: auto;
      background: #000; }
      .jeep:before {
        display: block; } }

.miniven {
  width: 137px;
  height: 59px;
  background-position: -480px 2px; }
  .miniven:before {
    content: "Минивен";
    position: relative;
    top: 0;
    left: 0;
    display: none;
    color: #FF0018; }
  @media (max-width: 767px) {
    .miniven {
      width: auto;
      height: auto;
      background: #000; }
      .miniven:before {
        display: block; } }

.thank-page {
  padding: 50px 0; }
  .thank-page p {
    max-width: 400px;
    color: grey;
    margin: auto;
    text-transform: uppercase; }
