.button{
  display: inline-block;
  padding:10px 32px 8px;
  text-transform: uppercase;
  text-align: center;
  transition: .2s ease-in-out;
  border:1px solid transparent;
  font-family: 'RoadRadio', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;

  &:hover,
  &:focus{
    text-decoration: none;
  }

  &.bg-white{
    background: #fff;
    color: map_get($colors, 'blue');

    &:hover{
      background: map_get($colors, 'blue');
      color: #fff;
      border-color: #fff;
    }
  }

  &.bg-blue{
    background: map_get($colors, 'blue');
    color: #fff;

    &:hover{
      background: #fff;
      color: map_get($colors, 'blue');
      border-color: map_get($colors, 'blue');
    }
  }

  &.bg-blue--border-white{
    border:2px solid #fff;
    background: map_get($colors, 'blue');
    color: #fff;

    &:hover{
      background: #fff;
      color: map_get($colors, 'blue');
      border-color: map_get($colors, 'blue');
    }
  }

  &.bg-orange{
    border:2px solid #fff;
    background: #f16f26;
    color: #fff;

    &:hover{
      background: #fff;
      color: #f16f26;
      //border-color: map_get($colors, 'blue');
    }
  }
}


.main-button{font-family: 'roadradio';font-size: 23px;padding:10px 20px;
  background: #619EFB;color: #fff;border: 2px solid #fff;border-radius: 10px;
  display: inline-block;cursor: pointer}
.btn-1:hover {color: #619EFB;background: #619EFB;border: 2px solid #619EFB;}
.btn-1:hover:after {
  height: 470%;
  opacity: 1;
}
.btn-1:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-1 {border: 2px solid #fff;color: #fff;    z-index: 1;
  position: relative;    background: #619EFB;}
.btn-1 {
  overflow: hidden;
}
.btn-1:after {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}

a.animated-button.victoria-two {
  border: 2px solid #619efb;
}
a.animated-button.victoria-two:after {
  background: #619efb;
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}