@media (max-width: 767px) {
  .first-screen{
    height:auto;
    padding:70px 15px;
    min-height: 0;
    max-height: 100%;

    >.container{
      width: 100%;
    }

    h1 {
      font-size: 30px;
    }
  }

  #header{
    text-align: center;
  }

  .logo{
    margin:0 auto 20px;
  }

  .header-number{
    float: none;
    display: inline-block;
  }

  .header-callback{
    float: none;
  }

  .description {
    padding: 0;
  }

  .form-custom{
    padding: 10px;

    .form-horizontal{
      flex-direction: column;

      .form-item{
        margin-right:0;

        input{

        }
      }
    }
    .form-button{
      .button{
        padding:10px;
      }
    }
  }

  #footer{
    text-align: center;
  }

  .description {

    ul {
      font-size: 20px;
    }
    li{
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  h1 {
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 10px 0 20px;
  }

}