@import 'components/_common';
@import 'components/_mixins';
@import '../img/sprite';


.block-title{
  text-align: center;

  p{
    font-size: 30px;
    line-height: 1;
    text-align: center;
  }

  &.red{

    p{
      background: map_get($colors, 'red');
      color: #fff;
      margin:0;
      padding: 15px 20px;
      display: inline-block;
    }
  }
}


/* Header */

#header{
  height: 90px;

  p{
    font-size: 30px;
    line-height: 90px;
    color: #fff;
    margin:0;

    @media(max-width: 767px){
      line-height: 1.4;
      display: block;
      text-align: center;
    }


    span{
      color: map_get($colors, 'red');
    }
  }
  a{
    @extend p;
    &:hover{
      text-decoration: none;
    }
  }

  .block-title{
    p{
      font-size: 78px;
      font-weight: bold;
      padding: 0 20px;
    }
  }
}

.first-block{
  background: #ffef3f;//map_get($colors, 'yellow');
  padding:0 0 30px;

  .main-title{
    text-align: center;
    margin:115px 0 75px;

    @media(max-width: 768px){
      margin:50px 0;
    }

    h1{
      position: relative;
      z-index: 2;

      span{
        display: block;
        margin: 0 0 20px;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 20px;
        font-weight: bold;

        @media(max-width: 992px){
          letter-spacing: 10px;
        }
        @media(max-width: 768px){
          letter-spacing: 0;
        }
      }
      b{
        text-transform: uppercase;
        position: relative;
        font-size: 50px;
        margin:0 0 20px;
        display: inline-block;
        padding: 26px 36px;
        color: map_get($colors, 'yellow');
        background: #000;
        font-weight: bold;
        letter-spacing: 4px;

        @media(max-width: 992px){
          font-size: 30px;
        }
        @media(max-width: 768px){
          font-size: 26px;
          padding:26px 10px;
        }

        &:before{
          content: '';
          position: absolute;
          top:0;
          left: -35px;
          border-bottom: 107px solid #000;
          border-left:35px solid transparent;

          @media(max-width: 992px){
            border-bottom: 85px solid #000;
          }

          @media(max-width: 768px){
            display: none;
          }
        }
        &:after{
          content: '';
          position: absolute;
          top:0;
          right: -35px;
          border-bottom: 107px solid #000;
          border-right:35px solid transparent;

          @media(max-width: 992px){
            border-bottom: 85px solid #000;
          }

          @media(max-width: 768px){
            display: none;
          }
        }
      }
      em{
        display: block;
        font-style: normal;
        font-size:20px;
        font-weight:bold;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
    }

    .left-wheel{
      position: absolute;
      bottom: -110px;
      left: -275px;
      display: block;
      background: url('../img/wheel.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 341px;
      height: 387px;
      z-index: -1;

      @media(max-width: 1200px){
        bottom:-175px;
        left: -200px;
        width: 240px;
      }
      @media(max-width: 992px){
        bottom:-190px;
      }
      @media(max-width: 768px){
        display: none;
      }
    }
    .right-wheel{
      @extend .left-wheel;
      background: url('../img/right wheel.png');
      background-size: contain;
      background-repeat: no-repeat;
      left: auto;
      right: -275px;

        @media(max-width: 1200px){
          right: -200px;
        }
    }
  }
  .advantages{
    div{
      text-align: center;

      span{
        display: block;
        width:90px;
        height:90px;
        border-radius: 50%;
        margin:0 auto 10px;
        background: #000;
        text-align: center;
        color: map-get($colors,'yellow');
        line-height: 1;
        text-transform: lowercase;
        padding: 10px 0 0;

        em{
          display: block;
          font-style: normal;
          font-size: 58px;
          line-height: 1;
          font-weight: bold;
          color: map-get($colors, 'yellow');
        }
      }
      p{
        font-size: 34px;
        margin:0;

        @media(max-width: 768px){
          margin:0 0 40px;
        }
      }
      i{
        position: relative;
        margin:0 auto 4px;
      }
    }
  }
}

.video-block{
  iframe{
    width:100%;
    height:550px;
  }
}

.inform-block{
  padding:30px 0;
  background: map-get($colors, 'yellow');

  .block-title{
    p{
      text-align: center;
      margin:0 0 20px;
    }
  }

  p{
    text-align: justify;
    margin:0;
    font-weight: bold;
  }
}

.costs{
  padding:0 0 30px;
  position: relative;

  @media(max-width:768px){
    padding: 0 0 125px;
  }

  .order{
    @media(max-width:767px){
      position: absolute;
      bottom: 30px;
      text-align: center;
      left:0;
      right:0;
      margin:auto;
    }
  }

  .button{
    margin:10px 0 0;
  }
  .icon-block{
    min-height: 114px;
    margin:70px 0 40px;
  }
  .icon{
    margin:0 auto;
    display: block;
  }

  span{
    width:100px;
    height:100px;
    border-radius: 50%;
    background: map-get($colors, 'yellow');
    position: relative;
    display: block;
    margin: 0 auto 20px;
    padding: 22px 0 0;
    text-align: center;

    @media(max-width: 992px){
      margin: 30px auto 20px;
    }

    &:before{
      content: '';
      position: absolute;
      top:-10px;
      left:-10px;
      right:-10px;
      bottom:-10px;
      border: 1px solid map-get($colors, 'yellow');
      border-radius: 50%;
    }

    em{
      font-style: normal;
      font-size: 40px;
      line-height: 1;
      font-weight: bold;
      letter-spacing: -2px;

      sup{
        font-size: 25px;
      }
    }
  }

  p{
    font-size: 24px;
    color: map_get($colors, 'yellow');
    text-align: center;
    margin:0 0 20px;
  }

  .block-title{
    p{
      font-size: 30px;
    }
  }



  .note{
    font-size: 16px;
    color: map_get($colors, 'yellow');
    text-align: center;
    margin:0;
  }
}

.services{
  @extend .costs;
  background: map_get($colors, 'yellow');

  p{
    color: #000;
  }
}

.map-block{
  position: relative;
  height:500px;

  .block-title{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, 0);

  }


  iframe{
    width:100%;
    height:100%;
  }
}

/* Footer*/
.footer{
  padding: 10px 0;

  .text-block {
    margin: 10px 0 0;

    @media(max-width: 768px) {
      p {
        text-align: center;
      }
    }

    &.right-text {
      p {
        text-align: right;

        @media(max-width: 768px) {
          text-align: center;
        }
      }
    }
  }

  p{
    color: #fff;
  }
}
/* Footer end*/

/* Modals */

.modal{
  .modal-content{
    padding: 50px 30px 35px 30px;
    position: relative;
    background: map-get($colors, 'yellow');
    border-radius: 0;
    border: 1px solid #000;
  }

  .icon{
    position: absolute;
    top:15px;
    right:30px;
    cursor: pointer;
  }

  form{
    text-align: center;

    input{
      width:100%;
      margin:0 0 30px;
      border: 1px solid #000;
      height:45px;
      padding: 0 10px;
    }

    .button{
      color: map-get($colors, 'yellow');
      background: #000;
    }
  }
}

/* Modals */

/* Icons */
.icon {
  display: inline-block;
  color: #000;


  &.rock {
    @include sprite($rock);
  }
  &.icon-wheel {
    @include sprite($icon-wheel);
  }
  &.hachback {
    @include sprite($hachback);
  }
  &.jeep {
    @include sprite($jeep);
  }

  &.amort {
    @include sprite($amort);
  }
  &.oil {
    @include sprite($oil);
  }
  &.engine {
    @include sprite($engine);
  }
  &.close-big {
    @include sprite($close);
  }

}

/* Icons end*/


.thank-page{
  padding: 50px 0;
  p{
    max-width:400px;
    color: grey;
    margin: auto;
    text-transform: uppercase;
  }
}